@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem; 
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px; 
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: center;
    max-width: 500px; 
    width: 100%;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;
}

label {
    font-weight: bold;
    font-size: 1rem;
    color: #fffcfc;
    margin-bottom: 10px; 
    letter-spacing: 0.5px;
}

input {
    padding: 12px 15px; 
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6; 
}

input:focus {
    border-color: #005b89;
}

button {
    padding: 15px 30px;
    background-color: #005b89;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
}

button:hover {
    background-color: #02547e;
}

p {
    color: red;
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0.5px;
}

.summary-container {
    text-align: center;
}

.summary-container p {
    font-size: 1.3rem;
    margin: 20px 0;
    line-height: 1.8; 
}

.summary-container h2 {
    font-size: 2.2rem;
    color: #fffefe;
    margin-bottom: 20px;
}

.summary-container div {
    margin-top: 25px;
}

.summary-container .no-data {
    font-size: 1.2rem;
    color: #888;
    font-style: italic;
}
